<form action="/{{this.sha}}/messages" method="POST">
  <input type="text" name="message" id="message">
  <button type="submit">Send</button>
</form>

<h3>All messages</h3>
<ol class="messages">
  {{#each messages}}
    <li class="{{#if this.reply }}reply{{else}}sent{{/if}}">
      <h3><i class="fa fa-{{#if this.reply }}reply{{else}}share{{/if}}" ></i> <a href="/{{this.from}}">{{this.from}}</a></h3>
      <p><small>{{this.dateCreated}}</small></p>
      <p>{{this.body}}</p>
    </li>
  {{/each}}
</ol>

<script>
  var stream = new EventSource('/{{ this.sha }}/stream');
  stream.addEventListener('message', function(event){
    console.log(event);
    var message = JSON.parse(event.data);
    var messageList = document.querySelector('.messages');
    var messageLi = document.createElement('li');
    var inner = "<h3><i class='fa fa-";
    if (message.reply){
      inner += "reply";
      messageLi.classList.add("reply");
    } else {
      inner += "share";
      messageLi.classList.add("sent");
    }
    inner += "' ></i> <a href='/" + message.from + "'>" +message.from+"</a></h3><p><small>"+message.dateCreated+"</small></p><p>" + message.body + "</p>";
    messageLi.innerHTML = inner;
    messageList.appendChild(messageLi);
  });
</script>
